@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(35, 29, 43);
    font-family: 'Red Hat Text', sans-serif;
    text-transform: uppercase;
}

/* Background */

.background{
    position: absolute;
    background-image: url(./images/bg-stars.svg);
    z-index: -1;
    width: 100%;
    height: 100%;
}

#hills{
    position:absolute;
    width: 100vw;
    height: 20%;
    bottom: 0;
}


.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

#title{
    color: white;
    font-weight: 700;
    letter-spacing: 5px;
}

.timer{
    display: flex;
    justify-content: center;
}
/* numbers design */

.timer-elemet{
    border-radius: 10px;
    background-color: hsl(228, 45%, 44%);
    width: 155px;
    height: 130px;
}
.number{
    font-size: 90px;
    font-weight: 700;
    color: hsl(345, 95%, 68%);
    padding:  5px 20px;
    letter-spacing: -2px;
}

.number-title{
    text-align: center;
    letter-spacing: 4px;
    color: hsl(237, 18%, 59%);
    margin: 15px;
}

.time-design{
    position: absolute;
    width: 100%;
    height: 100%;

}
.top-part{
    height: 50%;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }